#banner{
  display: flex;
  justify-content: space-between;
  margin-right: 38px ;
  align-items: center;
  border: 1px solid red;
  margin-left: 230px;
}
.up{
  max-width: 585px;
}
.up h2{
  font-size:45px ;
  font-weight: 600;
  margin-bottom: 5px;
}
.up h1{
  font-size: 85px;
  font-weight: bold;
    margin-bottom: 20px;
}
.up p{
  font-size: 18px;
  height:30px ;
}
.one{
  background-color: #FD6E0A;

}
.about{
  /* padding: 130px 230px 130px 230px; */
  /* padding: 0 auto; */
  justify-content: center;
  background-color: antiquewhite;
  /* background: 1140px;  */
  margin-left: 230px;
  margin-right: 230px; 
  margin-top: 170px;
  border-radius: 5px;
}
.information{
  text-align: center;
  font-size: 35px;
  font-weight:bold;
}
.para{
  text-align: center;
  font-size: 18px;
  
}
.about-info{
  display: flex;
  gap: 50px;
  justify-content: center;
}
.kochu{
  padding: 130px 156px;
}
.info-card{
  padding: 0px;
}
.info-card h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
.info-card p {
  font-size: 20px;
  

}
.two{
  text-align: center;
  padding: 0px;
  margin:0px ;
}
.Eh{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 30px;
}
.eh-he{
  font-size: 18;
  text-align: center;
}
.card{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
 
}

