.logo h2{
font-size: 45px;

}
.color{
  color: rgb(174, 97, 29);
}




nav {
justify-content:space-between;
display: flex;
align-items: center;
max-width: 1140px;
border: 1px;
margin: 0px auto;
}

nav .menu {
  display: flex;
  list-style-type:none;
  gap: 50px;
  align-items: center;

}

nav .menu a {
  font-size: 20px;
  text-decoration: none;
  color:black;
}

.btn {
  background-color: #FD6E0A;
  border-radius: 5px;
  padding: 15px;
  color: white;
  font-weight:bold ;
  font-size: 20px;
  border: none;
}
header{
background-color: #FFF8F3;
padding-top: 50px;
}